button {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: @green;
    color: #fff;
    box-shadow: inset 0 -0.1rem 0 rgba(0,0,0,0.25), 0 0.1rem 0 rgba(0,0,0,0.1);
    vertical-align: middle;

    &:hover {
        background-color: @green-darker;
    }
}

input {
    padding: 0 1rem;
    min-width: 150px;
    height: 32px;
    border: 1px solid @green;
    outline: none;
    border-radius: 3px;
    display: block;
    margin-bottom: 1em;
}
